/* ==========================================================================
   CONFIGURAÇÕES GLOBAIS E VARIÁVEIS
   ========================================================================== */

  html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  --fonte-principal: "Roboto", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;

  --cor-primaria: #004bae;
  --cor-texto: #333333;
  --header-height: 80px;
}

/* ==========================================================================
   ESTILOS GLOBAIS (Reset e Sticky Footer)
   ========================================================================== */

/*
  Melhorias de box-sizing para um layout mais intuitivo.
  Todos os elementos passarão a incluir padding e border no seu tamanho total.
*/
html {
  box-sizing: border-box;
  height: 100%; /* Pré-requisito para o sticky footer em alguns cenários */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Configuração do Sticky Footer e padrões do body.
*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0; /* O margin: 0; já vem do normalize */
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Garante que o conteúdo principal ocupe o espaço vazio, empurrando o footer.
*/
main {
  flex-grow: 1;
}

/* Impede que o footer encolha.
*/
footer {
  flex-shrink: 0;
}

  .body-no-scroll {
    overflow: hidden;
  }